<p class="message">
	If you liked my work, please <a title="Thanks for your support!" href="/donate/"><i><code><b>Dona</b><i class="fa fa-tumblr-square"></i><b>e</b></code></i></a> to buy me a coffee. 

	A single click on <a title="Like" href="http://mocun.me/comment/" target="_blank"><code><b><i class="fa fa-heart footer_v2__loveheart"></i></b></code></a> is also appreciated. Enjoy! :yum:
</p>

<style>
.donate{
    background-color: #e26d6d;
    border-color: #e26d6d;
    color: #fff;
    font-size: 70%;
    padding: 4px 6px;
    border-radius: 5px;
}
.emoji{
    width:1.3em;
    height:1.3em;
    display: inline-block;
    margin-bottom: .4em;
}
.fa.fa-heart {
  color: #ef777b;
}
.fa.fa-heart:hover {
  color: #e51c23;
}
</style>