<div class="ds-thread" id="ds-thread">
    <div id="ds-reset">
        <div class="ds-alert">多说使用将于2017年6月1日到期,请尽快迁移,详见<span style="color: #c09853"> duoshuo.com</span></div>

        <div class="ds-alert"><i class="fa fa-sign-in" style="color:#5cb85c;"></i><span style="color: #4285f4;"> 由于多说评论已经关闭,即日起博客留言请移步</span> <i class="fa fa-sign-in" style="color:#5cb85c;"></i><a href="http://mocun.me/comment/" style="font-weight:bold;" target="_blank" rel="nofollow">&nbsp;mocun.me</a></div>

        <div class="ds-login-buttons">
            <p>社交帐号登录:</p>
            <div class="ds-social-links">
                <ul class="ds-service-list">
                    <li><a href="javascript:void(0);" class="ds-service-link ds-weixin">微信</a></li>
                    <li><a href="javascript:void(0);" class="ds-service-link ds-weibo">微博</a></li>
                    <li><a href="javascript:void(0);" class="ds-service-link ds-qq">QQ</a></li>
                    <li><a href="javascript:void(0);" class="ds-service-link ds-renren">人人</a></li>
                    <li><a class="ds-more-services" href="javascript:void(0)">更多»</a></li>
                </ul>
                <ul class="ds-service-list ds-additional-services">
                    <li><a href="javascript:void(0);" class="ds-service-link ds-douban">豆瓣</a></li>
                    <li><a href="javascript:void(0);" class="ds-service-link ds-kaixin">开心</a></li>
                    <li><a href="javascript:void(0); class="ds-service-link ds-baidu">百度</a></li>
                    <li><a href="javascript:void(0);" class="ds-service-link ds-google">谷歌</a></li>
                </ul>
            </div>
        </div>
        <div class="ds-replybox">
            <a class="ds-avatar" href="javascript:void(0);" onclick="return false"><img src="/public/img/duoshuo/308779.jpg" alt=""></a>
           
            <form disabled="disabled">
                <div class="ds-textarea-wrapper ds-rounded-top">
                    <textarea placeholder="Join the discussion..." style="font-family:Times"></textarea><pre class="ds-hidden-text"></pre></div>
                <div class="ds-post-toolbar">
                    <div class="ds-post-options ds-gradient-bg"><span class="ds-sync"></span></div>
                    <button class="ds-post-button" disabled="disabled">Push</button>
                    <div class="ds-toolbar-buttons">
                        <a class="ds-toolbar-button ds-add-emote"></a>
                    </div>
                </div>
            </form>
        </div>
        <p class="ds-powered-by"><a href="javascript:void(0);">Powered by 多说评论</a></p>
    </div>
</div>