
<!--
&copy; {{ site.time | date: '%Y' }}. Created by <a href="/changelog/"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a> dl.<br/>
-->

<div class="footer">
	&copy; {{ site.time | date: '%Y' }}. Made with <a href="/about/"><i class="fa fa-heart footer_v2__loveheart"></i></a> by dl in Amoy.
</div>

<style>
.footer{
	text-align:center;
	font-size: 12.5px;
	margin-bottom: 12px; 
	margin-top: 65px;
	color: #8A9599;
  }
.fa.fa-heart{
	color:#FF4D4D;
}
.fa.fa-heart:hover {
    color: #D93636
}
</style>


