    <div style="display:none">
    <script src="https://s11.cnzz.com/z_stat.php?id=1261088686&web_id=1261088686"></script>
    </div>
    <!--Baidu-->
    <script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
    
    <script>
    if(navigator.userAgent.indexOf('UCBrowser') > -1) {
    var ua = navigator.userAgent.toLowerCase(); 
        if (/iphone|ipad|ipod/.test(ua) || /android/.test(ua)) {
      window.location.href = "http://mocun.me/uc/";
        }
    }
    </script>
    
    <!-- Codes
    <script>
    $("html,body").click(function(e) {
    var n = Math.round(Math.random() * 100);
    var $i = $("<b/>").text("+" + n);
    var x = e.pageX,
    y = e.pageY;
    $i.css({
        "z-index": 99999,
        "top": y - 20,
        "left": x,
        "position": "absolute",
        "color": "#E94F06",
        "font-size": "16px",
        "font-family": "Times New Roman",
        "color": "#E94F06"
    });
    $("body").append($i);
    $i.animate({
        "top": y - 180,
        "opacity": 0
    },
    1500,
    function() {
        $i.remove();
    });
    e.stopPropagation();
    });
    </script>
    <div id="backtoTop" data-action="gototop"><canvas id="backtoTopCanvas" width="36" height="36"></canvas><div class="per"></div></div>
    -->