<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    {% include sidebar.html %}
    <ul id="color-bars"><li id="color-1"></li><li id="color-2"></li><li id="color-3"></li><li id="color-4"></li><li id="color-5"></li><li id="color-6"></li></ul>
  <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a class="header-logo-invertocat" title="Welcome!" href="{{ site.baseurl }}/">
            <i class="fa fa-github fa-lg" aria-hidden="true"></i>
              {{ site.title }}
            </a>
            <small>&nbsp;{{ site.tagline }}</small>
            <div class="headicons">
                <small><a href="/about/" title="About"><i class="iconm iconm-user"></i></a></small>
                <small><a href="/books/" title="Books"><i class="iconm iconm-quill"></i></a></small>
                <small><a href="/archive/" title="Codes"><i class="iconm iconm-embed2"></i></a></small>
                <small><a href="http://weibo.com/u/6035048806" rel="me" title="Weibo" target="_blank" rel="nofollow"><i class="iconm iconm-sina-weibo"></i></a></small>
                <small><a href="http://mocun.me/comment/" title="Like" target="_blank" rel="nofollow"><i class="iconm iconm-heart footer_v2__loveheart"></i></a></small>
            </div>              
          </h3>
        </div>
      </div>
      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script src="https://paypal.b0.upaiyun.com/public/js/jquery/public.js"></script> 
    <script src="https://paypal.b0.upaiyun.com/public/js/prettify/prettify.js"></script>
    <script type="text/javascript">
    	window.prettyPrint && window.prettyPrint()
    </script>
  	<script>
  	POWERMODE.colorful = true; // make power mode colorful
  	POWERMODE.shake = false; // turn off shake
  	document.body.addEventListener('input', POWERMODE);
  	</script> 
    {% include statistics.html %}

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script>
      $("body").onclick = copycode();
      $("body").attr("id" ,"copy");
      $("body").attr("data-clipboard-text" ,"");
      function copycode()
      {
          if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
          {
              var clipboard = new Clipboard('#copy');
              clipboard.on('success', function (e)
              {
                  //alert("复制成功");
              });
              clipboard.on('error', function (e)
              {
                  //alert("复制失败");
              });
          }
      }
    </script>
-->
    
	</body>
</html>